#title{
	text-align: center;
	color: #427cfa;
	font-size: 3em;
}

#desc{
	text-align: center;
	font-size: 2em;
	font-weight: italic;
}

#content{
	display: flex;
	flex-direction: column;
    justify-content: center;  
}

#check{
	width: 10%;
	margin: 2% auto 0 auto;
	font-size: 1.5em;
	background-color: #ff5733;
	color: white;
}

#post{
	margin:auto;
}

#history{
	overflow-y: auto; 
}

.result_row_header{
	margin-top: 2%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
}

.post_text_header, .classification_header, .answer_header{
	justify-content: center;
	flex-basis: 33%;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}


.result_row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
}

.post_text, .classification, .answer{
	justify-content: center;
	flex-basis: 33%;
	text-align: center;
}