<html lang="en">
	<head>
		<title>14032 - POC Web Interface</title>
		 <meta name="viewport" content="width=device-width,initial-scale=1">
		 <meta charset="UTF-8">
		 <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>
	<body>

		<div id="content">

			<h1 id="title">Davide Sbetti 14032 - POC</h1>

			<p id="desc">
				Enter the text of a post and check which category is assigned to it by our machine learning model. Moreover, you can see the possible answer returned by the "answering module".
			</p>
			
			<textarea id="post" name="post" rows="5" cols="50"></textarea>
			
			<br>

			<button id="check">Check</button>

			<div class="result_row_header">
					<div class="post_text_header">
						POST TEXT
					</div>

					<div class="classification_header">
						CLASSIFICATION RESULT
					</div>

					<div class="answer_header">
						POSSIBLE ANSWER
					</div>
				</div>
			<div id="history" style="height: auto;">

				
			</div>

		</div>

		

		<script type="text/javascript">
			$(function() {
	          $('#check').on('click', function(e) {

	          	post_content = $("#post").val();
	            $.ajax({
		            type: "POST",
		            url: '/check_post',
		            data: {'post': post_content},
		            success: function(response){
		                console.log(response);
		                $("#history").prepend("<div class=\"result_row\"><div class=\"post_text\">"+ post_content +"</div><div class=\"classification\">CLASSIFICATION RESULT</div><div class=\"answer\">POSSIBLE ANSWER</div></div>");
		            }
        		});
	            return false;
	          });
        });
		</script>

	</body>
</html>